.breadcrumb {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	color: $gray-medium;
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 20px;

	ul {
		display: flex;
	}

	li {
		position: relative;
		padding: 0 10px 0 5px;

		&:not(:last-child):before {
			position: absolute;
			top: 0;
			right: 0;
			content: "/";
			font-size: inherit;
			color: inherit;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	li, a {
		font-size: inherit;
		color: inherit;
	}
}

@media only screen and (max-width: 1199px) {
	.breadcrumb {
	  max-width: 990px;
	}
}

@media only screen and (max-width: 992px) {
	.breadcrumb {
		max-width: 750px;
	}
}

@media only screen and (max-width: 768px) {
	.breadcrumb {
		max-width: 100%;
	}
}