.offers-list {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 1fr;
   grid-gap: 30px;  

  .offers__item {
    box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
    border-radius: 3px;
    border: 1px solid $light-gray;
  }
}

.pagination {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  nav {
    position: relative;

    .pagination__nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-45%);
      border: none;
      background-color: transparent;
      color: $gray;
      font-size: 14px;
      padding: 0;
      cursor: pointer;
      transition: .25s;

      &--prev {
        left: 0;
        right: auto;
      }

      &--next {
        left: auto;
        right: 0;
      }
    }

    ul {
      display: flex;
      padding-left: 25px;
      padding-right: 25px;
    }

    li {
      display: flex;
      align-items: center;
    }

    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 3px;
      border: 1px solid transparent;
    }
  }

  .pagination__download-more {
    font-size: 14px;
    color: $gray-medium;
    border: 1px solid $light-gray;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 3px;
    height: 36px;
    padding: 0 120px;
    cursor: pointer;
    transition: .25s;
  }
}

.no-touch .pagination nav .pagination__nav-button:hover,
.touch .pagination nav .pagination__nav-button:active {
  color: $dark-gray;
}

.pagination nav li a.active,
.no-touch .pagination nav li a:hover,
.touch .pagination nav li a:active {
  border-color: $light-gray;
}

.no-touch .pagination .pagination__download-more:hover,
.touch .pagination .pagination__download-more:active {
  border-color: $gray;
  color: $dark-gray;
}

@media only screen and (max-width: 1199px) {
  .pagination {
    max-width: 990px;
  }
}

@media only screen and (max-width: 992px) {
  .offers-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
  }

  .pagination {
    max-width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .pagination {
    max-width: 100%;
    flex-direction: column;
    align-items: center;

    nav {
      order: 2;
      margin-top: 30px;
    }

    .pagination__download-more {
      order: 1;
    }
  }
}

@media only screen and (max-width: 576px) {
  .offers-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .pagination .pagination__download-more {
      padding: 0 80px;
    }
}