.offers.offers--similar {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 40px auto;
    position: relative;

    .offers-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

.offers-tabs {
    margin-top: -10px;
    margin-bottom: 20px;
}

.offers__tab {
    border-radius: 3px;
    border: 1px solid $light-gray;
    background-color: $white;
    color: $gray;
    padding: 12px 22px;

    &:not(:last-child) {
        margin-right: 15px;
    }

    &.active {
        border: 1px solid $gray-text;
        color: black;
    }
}

@media only screen and (max-width: 1199px) {
    .offers.offers--similar {
        max-width: 990px;

        .offers-list {
            grid-template-columns: repeat(3, 1fr);
        }

        .offers__item:last-child {
            display: none;
        }
    }
}

@media only screen and (max-width: 992px) {
    .offers.offers--similar {
        max-width: 750px;

        .offers-list {
            grid-template-columns: repeat(2, 1fr);
        }

        .offers__item:nth-child(n+3) {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .offers.offers--similar {
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .offers.offers--similar {
        max-width: 750px;

        .offers-list {
            grid-template-columns: repeat(1, 1fr);
        }

        .offers__item:nth-child(n+3) {
            display: none;
        }
    }

    .offers__tab {
        font-size: 14px;
        padding: 5px 12px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 420px) {
    .offers__tab {
        font-size: 10px;
        padding: 5px 7px;
    }
}