.filter {
  padding-top: 25px;
  padding-bottom: 30px;
  box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
  border-bottom: 1px solid $light-gray;
}

.filter-form {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
  position: relative;
}

.filter-main .filter-form-wrap {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 40px;
}

.filter-group {
  display: flex;
}

.filter__item {
  display: flex;
  flex-direction: column;
  position: relative;
  
  &:not(:last-child) {
    margin-right: 10px;
  }

  label {
    color: $gray-medium;
    font-size: 12px;
    margin-bottom: 10px;
  }

  select, input {
    height: 36px;
    border-radius: 3px;
    border: 1px solid $light-gray;
  }

  select {
    padding: 0 32px 0 20px;
    color: $gray-medium;
    font-size: 14px;
  }

  select, input:not(.select2-search__field) {
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}

.filter__item--checkbox-button {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label {
    cursor: pointer;
    margin-bottom: 0;
    width: 36px;
    height: 36px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: $gray-medium;
    user-select: none;
    transition: .25s;
  }

  input:disabled + label {
    color: $gray-not-active;
  } 

  input:checked + label {
    background-color: $red;
    border-color: $red;
    color: $white;
  }

  input:checked + label {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
}

.no-touch .filter__item--checkbox-button input:not(:disabled) + label:hover,
.touch .filter__item--checkbox-button input:not(:disabled) + label:active {
  background-color: $red;
  border-color: $red;
  color: $white;
  opacity: .8 ;
}


.filter__item.filter__item--range {

  input {
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: $gray-medium;
    flex-grow: 1;
  }

  input:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input:last-of-type {
    position: relative;
    left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .filter-range-wrap {
    display: flex;
  }

  .slider-input-range {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2px);
    z-index: 1;
  }
}

.filter__item--select {
  &.filter__item--select2 {
    width: 100%;
  }

  .filter-select-wrap {
    position: relative;
  }

  .filter-select-wrap:after {
    font-family: 'icomoon' !important;
    content: "\e903";
    font-size: 7px;
    color: $gray-medium;
    text-align: center;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 15px;
    pointer-events: none;
    box-sizing: border-box;
  }

  .filter-select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .select2-search--inline .select2-search__field {
    font-size: 14px;
    margin: 0;
    height: auto;
  }
  
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 34px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .select2-container--default .select2-selection__choice {
    background-color: $red;
    color: $white;
    font-size: 14px;
    border: none;
    padding: 1px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: $white;
    position: relative;
    top: 1px;
  }
}

.select2-container--default .select2-selection--multiple {
  border-radius: 3px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid $light-gray;
}

.select2-results__option {
  padding-left: 40px;
  position: relative;
  font-size: 14px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid $light-gray;
    background-color: $white;
  }

  &[aria-selected="true"]::before {
    content: "✔";
    color: $gray;
  }
}

.filter__item--checkbox {
  position: relative;
  flex-direction: row;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    height: auto;
  }

  label {
    position: relative;
    color: $gray-medium;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    margin: 0 0 0 25px;
  }

  label::before {
    position: absolute;
    left: -25px;
    top: -2px;
    height: 16px;
    width: 16px;
    content: "";
    border: 1px solid $light-gray;
    border-radius: 3px;
  }

  label:after {
    position: absolute;
    left: -22px;
    top: 1px;
    height: 12px;
    width: 12px;
    content: "";
    background-color: $red;
    border-radius: 3px;
    transform: scale(0);
    transition: .25s;
  }

  input:checked + label::after {
    transform: scale(1);
  }
}

.filter__item--text {
  flex-direction: row;
  align-items: center;
  color: $gray-medium;
  font-size: 14px;

  span {
    margin-left: 5px;
    margin-right: 5px;
    color: #555;
    font-weight: 600;
  }
}

.filter__item--button {
    flex-direction: row;
    align-items: center;
    height: 36px;
    padding: 0 20px;
    border: none;
    color: $white;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $light-gray;
    color: $gray-medium;
    transition: .25s;

  &.filter__item--gray-button {
    background-color: $gray-medium;
    border: none;
    color: $white;
  }
}

.no-touch .filter__item--button:hover,
.touch .filter__item--button:active {
  opacity: .8;
}

.filter__item--submit {
  color: $white;
  font-size: 14px;
  height: 36px;
  padding: 0 40px;
  border-radius: 3px;
  border: none;
  background-color: $red;
  cursor: pointer;
  justify-content: center;
  transition: .25s;
}

.no-touch .filter__item--submit:hover,
.touch .filter__item--submit:active {
  opacity: .8;
}

.filter-main {
  .filter__item--checkbox-button {
    margin-top: 22px;
  }

  .filter__item--select2 {
    margin-top: 22px;
  }

  .filter__item--submit {
    margin-top: 22px;
  }
}

.filter--full {
  .filter-form-wrap:first-child {
    display: grid;
    grid-template-columns: 1.5fr 286px 1fr 1fr auto;
    grid-gap: 20px;

    .filter__item--select,
    .filter__item--range {
      flex-grow: 1;

      select {
        width: 100%;
      }
    }

    .filter__item--checkbox-button,
    .filter__item--checkbox {
      margin-top: 22px;
    }
  }

  .filter-form-wrap:last-child {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr auto 1.5fr auto;
    grid-gap: 20px;

    .filter-group:last-child {
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .filter-form {
    max-width: 990px;
  }

  .filter-main .filter-form-wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-template-areas: 
      't t t t t t t t r r r r'
      'a a a a a a a a a a b b';

    .filter-group:first-child {
      grid-area: t;

      .filter__item {
        flex-grow: 1;

        select {
          width: 100%;
        }
      }
    }

    .filter-group:nth-child(2) {
      grid-area: r;
      justify-content: flex-end;

      .filter__item--select {
        flex-grow: 1;

        select {
          width: 100%;
        }
      }
    }

    .filter-group:nth-child(3) {
      grid-area: a;
    }

    .filter-group:last-child {
      grid-area: b;

      .filter__item--submit {
        width: 100%;
        align-items: center;
        padding: 0 20px;
      }
    }

    .filter__item--select2, .filter__item--submit {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 992px) {
  .filter-form {
    max-width: 750px;
  }

  .filter-main .filter-form-wrap {
    grid-template-areas: 
      't t t t t t t r r r r r'
      'a a a a a a a a a b b b';
  }

  .filter--full {
    .filter-form-wrap:first-child {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: 
      't t t t t t r r r r'
      'p p p p a a a a n n';
      
      .filter-group:first-child  { grid-area: t; }
      .filter-group:nth-child(2) { grid-area: r; }
      .filter-group:nth-child(3) { grid-area: p; }
      .filter-group:nth-child(4) { grid-area: a; }
      .filter-group:last-child   { grid-area: n; }
    }
  
    .filter-form-wrap:last-child {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: 
      's s s s s s c c c c'
      '. . . . . b b b b b';
      
      .filter-group:first-child  { grid-area: s; }
      .filter-group:nth-child(2) { grid-area: c; justify-content: flex-end;}
      .filter-group:last-child   { grid-area: b; justify-content: flex-end;}
    }
  }
}

@media only screen and (max-width: 768px) {
  .filter-form {
    max-width: 540px;
  }

  .filter-main .filter-form-wrap {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      't t t t t t t t'
      'r r r r r r r r'
      'a a a a a a b b';
  }

  .filter--full {
    .filter-form-wrap:first-child {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 
      't t t t t t t t'
      'r r r r r r r r'
      'p p p a a a n n';
    }
  
    .filter-form-wrap:last-child {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 's' 'c' 'b';
    }
  }
}

@media only screen and (max-width: 576px) {
  .filter-form {
    max-width: 100%;
  }

  .filter-main .filter-form-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 't' 'r' 'a' 'b';
  }

  .filter--full {
    .filter-form-wrap:first-child {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 't' 'r' 'p' 'a' 'n';

      .filter__item--checkbox {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .select2-container--default .select2-selection--multiple {
    max-width: 290px;
  }
}