.footer-site {
  background-color: $dark-gray;
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-wrap {
  width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.footer-contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray-not-active;

  & > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-contacts__text {
  font-size: 18px;
  font-weight: 600;
}

.footer-contacts__title,
.footer-contacts__address {
  color: $gray-not-active;
}

.footer-contacts__address a {
  border-bottom: 1px dashed transparent;
  transition: .25s;
}

.no-touch .footer-contacts__address a:hover,
.touch .footer-contacts__address a:active {
  border-bottom-color: $gray-not-active;
}

.footer-contacts__tel a {
  border-bottom: 1px dashed transparent;
  font-size: 18px;
  font-weight: 600;
  transition: .25s;
}

.no-touch .footer-contacts__tel a:hover,
.touch .footer-contacts__tel a:active {
  border-bottom-color: $white;
}

.footer-contacts__work-time {
  display: block;
  margin-top: 7px;
  color: $gray-not-active;
}

.footer__scroll-top {
  font-size: 40px;
  cursor: pointer;
  transition: .25s;
}

.no-touch .footer__scroll-top:hover,
.touch .footer__scroll-top:active {
    opacity: .6;
  }

.footer-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-nav__list {
  display: flex;
  justify-content: space-between;
}

.footer-nav__item {
  color: $gray-not-active;
  transition: .25s;
}

.no-touch .footer-nav__item:hover,
.touch .footer-nav__item:active {
  color: $white;
}

@media only screen and (max-width: 1199px) {
	.footer-wrap {
    max-width: 990px;
  }
}

@media only screen and (max-width: 992px) {
	.footer-wrap {
    max-width: 750px;
  }

  .footer-contacts__text,
  .footer-contacts__tel a {
    font-size: 16px;
  }

  .footer-contacts__tel {
    min-width: 230px;
  }

  .footer-contacts__title,
  .footer-contacts__address,
  .footer-contacts__work-time {
    font-size: 14px;
  }

  .footer__scroll-top {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-wrap {
    max-width: 570px;
  }
  
  .footer-contacts {
    flex-direction: column;

    & > div {
      padding: 0;
    }
  }

  .footer-contacts__title,
  .footer-contacts__address,
  .footer-contacts__tel {
    margin-top: 20px;
  }

  .footer__scroll-top {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 40px;
  }

  .footer-nav__list {
    flex-direction: column;
  }

  .footer-nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .footer-wrap {
    max-width: 100%;
  }
}