header {
	margin-top: 10px;
}

.header-top {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header-top-wrap {
	display: flex;
	justify-content: space-between;
	align-content: center;
	position: relative;
  padding-right: 80px;
  margin-bottom: 15px;
}

.header-title {
	display: flex;
	align-items: center;
}

.header__logo {
	max-width: 160px;
}

.header-title__description {
	padding: 0 35px;
	color: $gray-text;
}

.header-links {
	display: flex; 
	align-items: center;

	ul {
		display: flex; 

		.header__link {
			padding: 0 30px;
			
			a {
				display: inline-block;
				line-height: 1;
				color: $gray;
				border-bottom: 1px dashed transparent;
				transition: .25s;
			}
		}
	}
}

.no-touch .header-links ul .header__link a:hover,
.touch .header-links ul .header__link a:active {
  color: $dark-gray;
  border-bottom-color: $dark-gray;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		color: $gray;
		font-size: 14px;
	}
}

.header-contacts__tel {
	margin-bottom: 3px;

	a {
		display: inline-block;
		font-size: 20px;
		font-weight: 600;
		line-height: 1;
		border-bottom: 1px dashed transparent;
		transition: .25s;
	}
}

.no-touch .header-contacts__tel a:hover,
.touch .header-contacts__tel a:active {
  border-bottom-color: $dark-gray;
}

.header-cabinet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
	right: 0;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		border: 1px solid $gray;
		border-radius: 50%;
		transition: .25s;
	}
}

.no-touch .header-cabinet a:hover,
.touch .header-cabinet a:active {
  border: 1px solid $dark-gray;
}

.no-touch .header-cabinet a:hover i.icon-user,
.touch .header-cabinet a:active i.icon-user {
  color: $dark-gray;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header__toggle-menu {
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
  width: 28px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  outline: none;

  span {
    position: relative;
    display: block;
  
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after{
      top: 9px;
    }

    &,
    &:after,
    &:before {
      width: 100%;
      height: 5px;
      background-color: $gray;
      transition: .25s;
      backface-visibility: hidden;
      border-radius: 1px;
    }
  }

  &.on span {
    background-color: transparent;
  }
  &.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  &.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}

.header-navigation {
  background-color: $background-gray;

  nav {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

.header-nav__link {
  color: $gray-medium;
  display: inline-block;
  padding: 15px;
  transition: .25s;

  &:hover {
    color: $white;
    background-color: $red;
  }
}

.no-touch .header-nav__link:hover,
.touch .header-nav__link:active {
  color: $white;
  background-color: $red;
}

@media only screen and (max-width: 1199px) {
  .header-top,
  .header-navigation nav {
    max-width: 990px;
  }
}

@media only screen and (max-width: 992px) {
  .header-top,
  .header-navigation nav {
    max-width: 750px;
  }

  .header-top-wrap {
    padding-right: 60px;
  }

  .header__logo {
    min-width: 140px;
  }

  .header-title__description {
    display: none;
  }

  .header-links {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-links ul .header__link {
    padding: 0 20px;
  }

  .header-contacts__tel a {
    font-size: 18px;
  }

  .header-contacts p {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
	.header-top {
    max-width: 100%;
  }

  .header-links ul {
    flex-direction: column;
  }

  .header-links ul .header__link:not(:last-child) {
    padding-bottom: 5px;
  }
  
  .header__toggle-menu {
    display: block;
  }

  .header-navigation { 
    display: none;

    nav { 
      padding: 0;
      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .header-nav__item {
    width: 100%;

    a {
      width: 100%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  .header-top-wrap {
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .header-links {
    display: none;
  }

  .header-contacts {
    margin-top: 15px;
  }

  .header-contacts__tel {
    text-align: center;
  }

  .header-buttons {
    display: flex;
    margin-top: 15px;
  }

  .header-cabinet {
    order: 1;
    margin-right: 15px;
    position: static;
    transform: translateY(0);
  }

  .header__toggle-menu {
    order: 2;
  }
}