.mfp-zoom-in {
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1);
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {
		.mfp-with-anim {
			transform: scale(0.8);
			opacity: 0;
		}

		&.mfp-bg {
			opacity: 0;
		}
	}
}

.modal {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	background-color: $white;
	border-top: 7px solid $red;
	padding: 60px 160px;
}

.modal__title {
	color: $gray-text;
	font-size: 24px;
	font-weight: 600;
}

.modal__subtitle {
	margin-top: 15px;
	color: $gray-text;
	font-size: 14px;
}

.modal-form {
	margin-top: 20px;
}

.modal-form-group {
	display: flex;
	justify-content: space-between;
}

.modal-form-item {
	position: relative;
	transition: .25s;

	&.modal-form-item--text {

		input {
			border: none;
			border-bottom: 1px solid #d0d1d3;
			height: 40px;
			padding: 0 20px;
			width: 230px;
			outline: none;
		}

		input + label {
			position: absolute;
			top: 13px;
			left: 20px;
		}
	}

	&.modal-form-item--submit {
		margin-top: 40px;

		button {
			border: none;
			background-color: $red;
			padding: 15px 45px;
			font-size: 14px;
			color: $white;
			transition: .25s;
		}
	}
}

.no-touch .modal-form-item.modal-form-item--submit button:hover,
.touch .modal-form-item.modal-form-item--submit button:active {
	opacity: .8;
}

.modal__button {
	display: inline-block;
	margin-top: 40px;
	border: none;
	background-color: $red;
	padding: 15px 45px;
	font-size: 14px;
	color: $white;
	transition: .25s;
	user-select: none;
	text-transform: uppercase;
}

.no-touch .modal__button:hover,
.touch .modal__button:active {
	opacity: .8;
}

@media only screen and (max-width: 992px) {
	.modal {
		max-width: 740px;
		padding: 45px 10%;
	}
}


@media only screen and (max-width: 768px) {
	.modal {
		max-width: 100%;
	}

	.modal-form-group {
		flex-direction: column;
	}

	.modal-form-item {
		& + .modal-form-item {
			margin-top: 20px;
		}

		&.modal-form-item--text {
			input {
				width: calc(100% - 40px);
			}
		}
	}

	.modal__button { 
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}