.offers {
  width: 100%;
	max-width: 1200px;
	padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto;
  position: relative;
}

.offers__title {
  color:$gray-text;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 30px;
}

.offers-controls {
  position: absolute;
  top: 0;
  right: 15px;
}

.offers__control-button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 3px;
  background-color: $red;
  opacity: .6;
  font-size: 16px;
  color: $white;
  transition: .25s;
}

.no-touch .offers__control-button:hover,
.touch .offers__control-button:active {
  opacity: 1;
}

.offers__control-button--left:before {
  font-family: 'icomoon' !important;
  content: "\e900";
}

.offers__control-button--right:before {
  font-family: 'icomoon' !important;
  content: "\e901";
}

.offers-slider {
  margin-left: -7px;
  margin-right: -7px;

  .slick-slide {
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
    border-radius: 3px;
    border: 1px solid $light-gray;
  }

  .offers__control-button {
    display: none !important;
  }
}

.offers-item__preview {
  overflow: hidden;
  position: relative;
  padding-top: 67%;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
 
.offers-item-description {
  padding: 20px 20px 30px 20px;
}

.offers-item__price {
  color: $gray-text;
  font-size: 18px;
  font-weight: 600;

  span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .icon-ruble {
    font-weight: 700;
  }
}

.offers-item__features {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.offers-item__feature {
  padding: 3px 12px;
  color: $gray-text;
  font-size: 14px;
  font-weight: 600;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
  
  &:not(:last-child) {
    border-right: 1px solid $background-gray;
  }
}

.offers + hr {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  border: none;
  color: $background-gray;
  background-color: $background-gray;
  height: 2px;
}

@media only screen and (max-width: 1199px) {
  .offers {
    max-width: 990px;
  }

  .offers-item-description {
    padding: 15px;
  }
  
  .offers + hr {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .offers {
    max-width: 750px;
  }
  
  .offers + hr {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .offers {
    max-width: 100%;
  }

  .offers-item__price span {
    display: inline-block;
    margin-left: 0;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 576px) {
  .offers-controls {
    display: none;
  }

  .offers-slider {
    position: relative;

    .offers__control-button {
      display: block !important;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;

      &.offers__control-button--left {
        left: 0;
        right: auto;
      }
      
      &.offers__control-button--right {
        right: 0;
        left: auto;
      }
    }
  }
}