.product-container {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.product {
	flex: 0 0 auto;
	max-width: calc(100% - 470px);
	padding-right: 35px;
}

.product__title {
	color: $gray-text;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.product-subtitle {
	display: flex;
	color: $gray;
	font-size: 14px;
	margin-bottom: 23px;

	& > * {
		margin-right: 10px;
	} 

	.product__view i {
		margin-right: 5px;
	}

	a {
		border-bottom: 1px dashed transparent;
		transition: .25s; 
	}
}

.no-touch .product-subtitle a:hover,
.touch .product-subtitle a:active {
	border-bottom-color: $gray;
}

.product__main-slider {

	.slick-slide > div {
		position: relative;
		padding-top: 70%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.product__nav-slider {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px -4px 35px -4px;
	
	.slick-slide {
		margin-left: 4px;
		margin-right: 4px;

		&.slick-current > div {
			border: 3px solid #434a54;
		}

		& > div {
			position: relative;
			height: 100%;
			box-sizing: border-box;
	
			img {
				display: block !important;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		font-size: 0;
		line-height: 0;
		width: 15px;
		height: 50px;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		padding: 0;

		&:before {
			position: absolute;
			display: block;
			top: 50%;
			width: 100%;
			height: 15px;
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: $gray-medium;
			font-size: 15px;
		}

		&.slick-prev {
			left: 0;

			&:before {
				left: 0;
				content: "\e903";
				transform:  translateY(-50%) rotateZ(90deg);
			}
		}

		&.slick-next {
			right: 0;

			&:before {
				right: 0;
				content: "\e903";
				transform: translateY(-50%) rotateZ(270deg);
			}
		}
	}
}

.product__title-description {
	color: $gray-text;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}

.product__description-text {
	color: $gray-text;
	font-size: 14px;

	p {
		margin-bottom: 15px;
		line-height: 1.2;
	}

	a {
		font-size: inherit;
		opacity: .8;
		text-decoration: none;
		border-bottom: 1px dashed $gray-text;
		transition: .25s;
	}
}

.no-touch .product__description-text a:hover,
.touch .product__description-text a:active {
	opacity: 1;
	border-bottom-color: transparent;
}

.information-wrap {
	flex: 0 0 470px;
	max-width: 470px;
}

.detail {
	box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
	border-radius: 3px;
	border: 1px solid $light-gray;
	background-color: $white;
	padding: 40px 65px;

	.detail-wrap > :not(:first-child) {
		margin-top: 20px;
	}
}

.detail__price {
	display: flex;
    align-items: center;

	span {
		flex: 0 0 50%;
		max-width: 50%;
		color: $gray-text;
	}

	& > span:first-child {
		color: $gray-text;
		font-size: 24px;
		font-weight: 600;
	}
}

.detail-tech-links {
	display: flex;
	align-items: center;

	a {
		flex: 0 0 50%;
		max-width: 50%;
		color: $gray-text;
		font-size: 14px;

		i {
			margin-right: 10px;
			font-size: inherit;
			color: $red;  
		}

		span {
			border-bottom: 1px dashed transparent;
			transition: .25s;
		}
	}
}

.no-touch .detail-tech-links a:hover span,
.touch .detail-tech-links a:active span {
	border-bottom-color: $gray-text;
}

.detail__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 46px;
	background-color: $red;
	border: none;
	color: $white;
	font-size: 14px;
	transition: .25s;
}

.no-touch .detail__button:hover,
.touch .detail__button:active {
	opacity: .8;
}

.detail-features__title,
.detail-location__title {
	color: $gray-text;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 25px;
}

.detail-features__item,
.detail-location__item {
	display: flex;
	font-size: 14px;

	&:not(:last-child) {
		margin-bottom: 7px;
	}

	span:first-child {
		color: $gray;
	}

	span:nth-child(2) {
		position: relative;
		bottom: 3px;
		border-bottom: 1px dotted $gray;
		flex-grow: 1;
		margin: 0 5px;
	}

	span:last-child {
		color: $gray-text;
		font-weight: 600;
	}
}

.personal-agent {
	margin-top: 25px;
	padding: 45px 65px;
	box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
	border: 1px solid $light-gray;
	background-color: $white;
	border-radius: 3px;
	
	.personal-agent-wrap {
		display: flex;
	}
}

.personal-agent__img {
	flex: 0 0 120px;
	max-width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 23px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.personal-agent__name {
	color: $gray-text;
	font-size: 18px;
	font-weight: 600;
}

.personal-agent__subtitle {
	margin-top: 8px;
	color: $gray-text;
	font-size: 14px;
}

.personal-agent__contacts {
	margin-top: 18px;
	color: $gray-text;
	font-size: 14px;

	a {
		font-size: inherit;
		color: inherit;
		display: inline-block;
		margin: 2px 0;
	}

	a[href*="tel"] {
		font-weight: 600;
	}

	a[href*="mail"] {
		border-bottom: 1px solid $gray-text;
		transition: .25s;
	}
}

.no-touch .personal-agent__contacts a[href*="mail"]:hover,
.touch .personal-agent__contacts a[href*="mail"]:active {
	border-bottom-color: transparent;
}

.personal-agent__footer {
	display: flex;
	margin-top: 16px;

	& > p:not(:last-child) {
		margin-right: 15px;
	}

	p {
		font-size: 14px;
		color: $gray-text;

		a {
			display: inline-block;
			font-size: inherit;
			color: inherit;
			border-bottom: 1px solid $gray-text;
			transition: .25s;
		}
	}
}

.no-touch .personal-agent__footer p a:hover,
.touch .personal-agent__footer p a:active {
	border-bottom-color: transparent;
}

@media only screen and (max-width: 1199px) {
	.product-container {
		max-width: 990px;
	}

	.product {
		max-width: calc(100% - 380px);
		padding-right: 30px;
	}

	.product-subtitle {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -10px;

		& > * {
			margin-top: 10px;
		} 
	}

	.information-wrap {
		flex: 0 0 380px;
		max-width: 380px;
	}

	.detail {
		padding: 35px;
	}

	.personal-agent {
		margin-top: 20px;
		padding: 35px;
	}

	.personal-agent__img {
		flex: 0 0 100px;
		max-width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 15px;
	}

	.personal-agent__name {
		font-size: 16px;
	}

	.personal-agent__contacts {
		margin-top: 12px;
	}
}

@media only screen and (max-width: 992px) {
	.product-container {
		max-width: 750px;
	}

	.product {
		max-width: calc(100% - 320px);
		padding-right: 30px;
	}

	.product-subtitle {
		flex-direction: column;
	}

	.information-wrap {
		flex: 0 0 320px;
		max-width: 320px;
	}
	
	.detail__price > span{
		&:first-child {
			font-size: 20px;
		}

		&:last-child {
			font-size: 14px;
		}
	}
	
	.detail-tech-links {
		flex-direction: column;
		align-items: flex-start;
		a {
			flex: 0 0 100%;
			max-width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	
	.detail__button {
		height: 36px;
	}
	
	.detail-features__title,
	.detail-location__title {
		margin-bottom: 20px;
	}

	.personal-agent-wrap {
		flex-direction: column;
		align-items: center;
	}

	.personal-agent-content {
		width: 100%;
		margin-top: 20px;
	}

	.personal-agent__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media only screen and (max-width: 768px) {
	.product-container {
		max-width: 100%;
		flex-wrap: wrap;
	}

	.product {
		margin-bottom: 20px;
	}

	.product,
	.information-wrap {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.product-subtitle {
		flex-direction: row;
	}
	
	.detail__price > span {
		&:first-child {
			font-size: 28px;
		}

		&:last-child {
			font-size: 16px;
		}
	}

	.detail-tech-links {
		flex-direction: row;

		a {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	.personal-agent .personal-agent-wrap {
		flex-direction: row;
	}
}

@media only screen and (max-width: 420px) {

	.product__title-description {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.detail__price {
		flex-direction: column;
		align-items: flex-start;

		& > span {
			flex: 0 0 100%;
			max-width: 100%;
		}

		& > span:last-child {
			margin-top: 10px;
		}
	}

	.detail-tech-links {
		flex-direction: column;

		a {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.detail__button {
		font-size: 12px;
	}

	.detail-features__item,
	.detail-location__item {
		span {
			font-size: 12px;
		}
	} 

	.personal-agent .personal-agent-wrap {
		flex-direction: column;
	}
}