.partners {
  width: 100%;
	max-width: 1200px;
	padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto;
  position: relative;
}

.partners__title {
  color:$gray-text;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partners-controls {
  position: absolute;
  top: 0;
  right: 15px;
}

.partners__control-button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 3px;
  background-color: $red;
  opacity: .6;
  font-size: 16px;
  color: $white;
  transition: .25s;
}

.no-touch .partners__control-button:hover,
.touch .partners__control-button:active {
  opacity: 1;
}

.partners__control-button--left:before {
  font-family: 'icomoon' !important;
  content: "\e900";
}

.partners__control-button--right:before {
  font-family: 'icomoon' !important;
  content: "\e901";
}

.partners-slider {
  margin-left: -7px;
  margin-right: -7px;

  .slick-slide {
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
    border-radius: 3px;
    border: 1px solid $light-gray;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partners__control-button {
    display: none !important;
  }
}

@media only screen and (max-width: 1199px) {
  .partners {
    max-width: 990px;
  }

  .partners-item-description {
    padding: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .partners {
    max-width: 750px;
  }

  .partners-slider .slick-slide {
    padding: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .partners {
    max-width: 100%;
  }
  
}

@media only screen and (max-width: 576px) {
  .partners-controls {
    display: none;
  }

  .partners-slider {
    position: relative;

    .partners__control-button {
      display: block !important;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;

      &.partners__control-button--left {
        left: 0;
        right: auto;
      }
      
      &.partners__control-button--right {
        right: 0;
        left: auto;
      }
    }
  }
}