.agents {
  width: 100%;
	max-width: 1200px;
	padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto;
  position: relative;
}

.agents__title {
  color:$gray-text;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 30px;
}

.agents-controls {
  position: absolute;
  top: 0;
  right: 15px;
}

.agents__control-button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 3px;
  background-color: $red;
  opacity: .6;
  font-size: 16px;
  color: $white;
  transition: .25s;
}

.no-touch .agents__control-button:hover,
.touch .agents__control-button:active {
  opacity: 1;
}

.agents__control-button--left:before {
  font-family: 'icomoon' !important;
  content: "\e900";
}

.agents__control-button--right:before {
  font-family: 'icomoon' !important;
  content: "\e901";
}

.agents-slider {
  margin-left: -7px;
  margin-right: -7px;

  .slick-slide {
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 2px 0 rgba(227, 228, 231, 0.87);
    border-radius: 3px;
    border: 1px solid $light-gray;
  }

  .agents__control-button {
    display: none !important;
  }
}

.agents-item__preview {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid $red;

  i {
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light-gray;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  img + i {
    display: none;
  }
}

.agents-item-description {
  padding: 20px 20px 30px 20px;
}

.agents-item__about-manager {
  color: $gray-text;
  font-size: 16px;
  font-weight: 600;

  span {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
}

.agents-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.agents-contacts__tel {
  color: $gray-text;
  font-size: 16px;
  font-weight: 600;
}

.agents-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  transition: .25s;

  i {
    font-size: 10px;
    font-weight: 700;
  }
}

.no-touch .agents-contacts__link:hover,
.touch .agents-contacts__link:active {
  border-color: $light-gray;
}

@media only screen and (max-width: 1199px) {
  .agents {
    max-width: 990px;
  }

  .agents-item-description {
    padding: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .agents {
    max-width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .agents {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .agents-controls {
    display: none;
  }

  .agents-slider {
    position: relative;

    .agents__control-button {
      display: block !important;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;

      &.agents__control-button--left {
        left: 0;
        right: auto;
      }
      
      &.agents__control-button--right {
        right: 0;
        left: auto;
      }
    }
  }
}