@import 'reset';
@import 'normalize-8.0.1';

$white: #fff;
$black: #fff;
$red-light: #fc4349;
$red: #e31e24;
$gray-not-active: #a8a8a8;
$gray: #888;
$light-gray: #d0d1d3;
$gray-text: #434a54;
$dark-gray: #2d3338;
$background-gray: #e6e6e6;
$gray-medium: #666;

@import 'select2-4.0.5.min';
@import 'slick-1.9.0.min';
@import 'magnific-popup-1.1.0.min';
@import 'nouislider-12.1.0.min';

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?vz6jr5');
	src: url('../fonts/icomoon/icomoon.eot?vz6jr5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?vz6jr5') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?vz6jr5') format('woff'),
		url('../fonts/icomoon/icomoon.svg?vz6jr5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e900";
}

.icon-arrow-right:before {
	content: "\e901";
}

.icon-arrow-up-circle:before {
	content: "\e902";
}

.icon-drop-down-arrow:before {
	content: "\e903";
}

.icon-eye:before {
	content: "\e904";
}

.icon-heart:before {
	content: "\e905";
}

.icon-printer:before {
	content: "\e906";
}

.icon-ruble {
	font-size: .8em;

	&:before {
		content: "\e907";
	}
}

.icon-user:before {
	content: "\e908";
}

[class*="rotate-"] {
	display: inline-block;
}

.rotate-90 {
	transform: rotateZ(90deg);
}

.rotate-270 {
	transform: rotateZ(270deg);
}

.ruble {
	font-weight: 400 !important;
	margin: 0 !important;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	color: $gray-text;
	font-size: 16px;
}

.body-wrapper {
	overflow: hidden;
}

@import 'header';

@import 'breadcrumb';

@import 'filter';

@import 'offers';

@import 'extend-offers-list';

@import 'extend-offers-similar';

@import 'slider-agents';

@import 'slider-partners';

@import 'product';

@import 'modal-form';

@import 'footer';